<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ffapp.ffxx.ffplayers">

    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ThanksActivity" />
        <activity android:name=".activity.GameAndPlayScreenActivity" />
        <activity android:name=".activity.NoDuplicateVideoActivity" />
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.HomeActivity" />

        <service
            android:name="com.ffapp.ffxx.ffplayers.backgroundservice.MusicPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.FilterDuplicateVideoActivity" />
        <activity android:name=".activity.LockScreenActivity" />
        <activity android:name=".activity.LockConfirmActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.RecycleBinActivity" />
        <activity android:name=".activity.UnLockFileActivity" />
        <activity
            android:name="com.ffapp.ffxx.ffplayers.player.VideoPlayActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.FilterDuplicateActivity" />
        <activity android:name=".activity.ImageSliderActivity" />
        <activity android:name=".activity.ImageDisplay" />
        <activity android:name=".activity.GalleryImageActivity" />
        <activity android:name=".activity.VideoStatusActivity" />
        <activity android:name=".activity.StatusImageActivity" />
        <activity android:name=".activity.StatusActivity" />
        <activity android:name=".activity.SpecificVideoActivity" />
        <activity android:name=".activity.AllVideoActivity" />
        <activity android:name=".activity.FolderVideoActivity" />
        <activity android:name=".activity.TimeLineVideoActivity"/>
        <activity android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />

        <provider
            android:name="com.ffapp.ffxx.ffplayers.comman.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>